ul {
   list-style: none;
}
a {
   text-decoration: none;
}
:root {
   --main-color: RGB(244, 67, 54);
}
section {
   padding: 5rem 0;
}
.main-title {
   padding-bottom: 4rem;
}
.main-title h2 {
   position: relative;
}
.main-title h2::before {
   content: attr(data-title);
   position: absolute;
   top: 50%;
   left: 50%;
   font-size: 7rem;
   color: rgb(0 0 0 / 0.1);
   z-index: -1;
   transform: translate(-50%, -50%);
   letter-spacing: 2px;
}
nav {
   background-color: rgb(0 0 0 / 0.9);
}
/* ------------ Start Header  ------------*/
header {
   min-height: 100vh;
   background: url("../images/bg.jpg") center no-repeat;
   background-size: cover;
}
nav :is(.nav-link, .navbar-brand) {
   color: #fff;
}
nav .nav-link.active,
nav .nav-link:hover {
   color: var(--main-color) !important;
}
.navbar-brand,
.navbar-brand:hover {
   color: #fff;
}
.main-color {
   color: var(--main-color);
}
a.main-color:hover {
   color: var(--main-color);
}

.icon {
   width: 30px;
   height: 60px;
   border: 2px solid #ddd;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.icon .icon-iner {
   width: 5px;
   height: 5px;
   background-color: #ddd;
   border-radius: 50%;
}
/* End Header  */

/* Start About */
.about {
   background-image: url("../images/light_dot.jpg");
   position: relative;
   z-index: 1;
}
/* Start skills */
.skills {
   background: #000;
   position: relative;
   z-index: 1;
}
:is(.services, .skills) .main-title h2::before {
   color: rgba(170, 170, 170, 0.377);
}
.progress-bar {
   background-color: var(--main-color);
}
/* STart Services */
.services {
   background-image: url("../images/dark_dot.jpg");
   position: relative;
   z-index: 1;
}

.service-icon {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #000;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   display: grid;
   place-items: center;
   color: #fff;
   border: 1px solid #aaa;
}
.services  .card  {
   cursor: pointer;
}
.services  .card i{
   transition: color .5s;
}
.services  .card:hover i {
   color: var(--main-color);
}

/* Start Port */
.portfolio  button.nav-link.active {
   background-color: transparent !important;
   color: var(--main-color) !important;
}
.portfolio  button.nav-link {
   color: #000 !important;
   font-weight: 700;
}
.portfolio .layer {
   position: absolute;
   bottom: 200%;
   left: 50%;
   transform: translate(-50%,50%);
   text-align: center;
   transition: bottom 1s  .3s;
}
.portfolio .image::before {
   content: '';
   position: absolute;
   background-color: rgba(170, 170, 170, 0.671);
   inset: 0 1.25rem 1.25rem;
   transform: translateY(-100%);
   transition: transform .5s;
}

.portfolio .image:hover .layer {
   bottom: 50%;
}
.portfolio .image:hover::before {
   transform: translateY(0);
}
.owl-nav {
   width: fit-content;
   margin: auto;
   display: flex;
   gap: 10px;
   font-size: 1.9rem;
   color: var(--main-color);
   
}
/* Start Counter */
.counter  {
   background: url("../images/stat.jpg") fixed no-repeat center;
   background-size: cover;
}
.counter .layer {
   backdrop-filter: blur(2px);
}
/* Start Testmonial */
.testmonial .img-test {
   width: 90px !important;
   height: 90px;
   position: absolute;
   left: 50%;
   top: 0;
   transform: translate(-50%,-50%);
   border-radius: 50%;
   box-shadow: 0 0 10px #000;
}
.testmonial .slider {
   margin-top: 100px;
}
/* Start Blog */
.blog .circle {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
   display: grid;
   place-items: center;
   position: absolute;
   bottom: 0;
   right: 0;
   margin-right: 20px;
   transform: translateY(50%);
   background-color: #fff;
}
/* start footer  */
footer {
   background-color: #000;
   position: relative;
   z-index: 1;
}
footer .main-title h2::before {
   color: rgba(255, 255, 255, 0.158);
}
footer .form-control {
   background-color: unset !important;
   border: unset !important;
   box-shadow:  unset !important;
   border-radius: unset;
   border-bottom: 1px solid var(--main-color) !important;
}